@import "tailwindcss";


::-webkit-scrollbar {
  display: none;
}

body {
  background-color: #111;
  color: #fff;
}

.box {
height: 200px;
width: 200px;
background-color: crimson;
border-radius: 10px;
}

.box-2 {
height: 200px;
width: 300px;
background-color: royalblue;
border-radius: 10px;
z-index: 1000;
}

.text {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  color: linear-gradient(to right, #d69b1b, #b91b79);
  margin-top: 20px;
}

.text-2 {
  font-size: 1rem;
  text-align: center;
  margin-top: 24px;
}

img {
  height: 200px;
  z-index: 10;
}